DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=project_db
DB_USER=project_user
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5432
ADMIN_CONTACT_EMAIL=admin@example.com
DEFAULT_FROM_EMAIL=noreply@example.com
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=example_user
EMAIL_HOST_PASSWORD=change-me
